<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>First Page</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script type="text/javascript" src="static/js/loading.js"></script>
</head>
<body onload="myFunction()" style="margin: 0">
	<div id="circle">
		<div id="loader">
			<div id="loader">
				<div id="loader">
					<div id="loader">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: none;" id="myDiv">
		<h1>Blood Bank</h1>
        <center><a href="/stf" class="btn btn-primary">Create New Account</a></center>
        <br>
        <center><a href="/login" class="btn btn-primary">Log In Your Account</a></center>
	</div>
</body>
</html>
