<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In Page</title>
    {% load staticfiles %}
</head>
<body>
    <h1>LogIn Page</h1>
    <form method="POST" class="post-form" action="/loginConfirm/{{ staff.staff_id }}">
        {% csrf_token %}

    <div class="container">
        <br>
        <div>
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Log In Page</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Staff Id:</label>
            <div class="col-sm-4">
                <input type="text" name="staff_id" id="id_sid" required maxlength="20" value="{{ staff.staff_id }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    </form>

</body>
</html>