<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
    {% load staticfiles %}
</head>
<body>
    <h1>Sign Up Page</h1>
    <form method="POST" class="post-form" action="/stf">
        {% csrf_token %}
        <div class="container">
            <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Enter Details</h3>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employee id:</label>
                    <div class="col-sm-4">
                        {{ form.staff_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employee Name:</label>
                    <div class="col-sm-4">
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employee Contact No:</label>
                    <div class="col-sm-4">
                        {{ form.contact_no }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employee Address:</label>
                    <div class="col-sm-4">
                        {{ form.address }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employee Job Title:</label>
                    <div class="col-sm-4">
                        {{ form.job_title }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </div>

    </form>

</body>
</html>